<form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
    <div class="field">
        <input
            class="search__input field__input"
            id="{{ input_id }}"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.search' | t }}"
        >  
        <input type="hidden" name="options[prefix]" value="last">
        <button
            type="reset"
            class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
            aria-label="{{ 'general.search.reset' | t }}"
        >
            <span class="svg-wrapper">
            {{- 'icon-reset.svg' | inline_asset_content -}}
            </span>
        </button>
        <button class="search__button" aria-label="{{ 'general.search.search' | t }}">
            {% render 'icon-search', fill: '#767676' %}
        </button>
    </div>
</form>