{{ 'section-header.css' | asset_url | stylesheet_tag }}
{% style %}
    
    header{
        padding: {{ section.settings.padding_top  }}px 5.2rem {{ section.settings.padding_bottom }}px 5.2rem;
    }
   
{% endstyle %}

<header class="header--mobile-{{ section.settings.mobile_logo_position }}">
    <div class="hamburger">
        {% render 'icon-hamburger', fill: '#000' %}
    </div>
    <div class="header--left">
        
        {% if settings.logo != blank %}
            <div class="logo">
                <a href="{{ shop.url }}" title="{{ shop.title }}" aria-label="Home page link">
                    {{ settings.logo | image_url: width: 600 | image_tag: 
                        width: settings.logo_width
                    }}
                </a>
            </div>
        {% endif %}
        {% if section.settings.menu != blank %}
            {% render 'header-menu' %}
        {% endif %}
    </div>
    <div class="header--right">
        {% if section.settings.enable_search %}
            {% render 'search-input' %}
        {% endif %}
        {% if section.settings.enable_login %}
            <div class="header--login">
                <p class="h5">My Account</p>
                <span class="login--links">
                    <a href="{{ routes.account_login_url }}" title="Sign in" aria-label="Sign in link">Sign in</a> or <a href="{{ routes.account_register_url }}" title="Sign in" aria-label="Sign in link">Sign up</a>
                </span>
            </div>
        {% endif %}
        <div class="cart-icon">
            {% render 'icon-cart', fill: '#000' %}
        </div>
    </div>
</header>
{% schema %}
    {
        "name": "t:sections.header.name",
        "class": "section-header",
        "max_blocks": 3,
        "settings":[
            {
                "type": "select",
                "id": "mobile_logo_position",
                "options": [
                    {
                    "value": "center",
                    "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
                    },
                    {
                    "value": "left",
                    "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
                    }
                ],
                "default": "center",
                "label": "t:sections.header.settings.mobile_logo_position.label"
            },
            {
                "type": "link_list",
                "id": "menu",
                "default": "main-menu",
                "label": "t:sections.header.settings.menu.label"
            },
            {
                "type": "checkbox",
                "id": "enable_sale",
                "label": "t:sections.header.settings.sale.label"
            },
            {
                "type": "checkbox",
                "id": "enable_search",
                "label": "t:sections.header.settings.enable_search.content",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "enable_login",
                "label": "t:sections.header.settings.enable_login.content",
                "default": true
            },
            {
                "type": "header",
                "content": "t:sections.header.settings.header__1.content"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "t:sections.all.colors.label",
                "default": "scheme-1"
            },
            {
                "type": "header",
                "content": "t:sections.all.spacing"
            },
            {
                "type": "range",
                "id": "margin_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.header.settings.margin_bottom.label",
                "default": 0
            },
            {
                "type": "header",
                "content": "t:sections.all.padding.section_padding_heading"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 2,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 20
            }
        ],
        "blocks": [
            {
                "type": "@app"
            }
        ]
    }
{% endschema %}